body {
  font-family: sans-serif;
  text-align: center;
  background: #575757;
}

.tables {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    gap: 2px;
    justify-content: center;
    margin: 10px auto;
    &__cell {
      width: 40px;
      height: 40px;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid #444;
      &__hit {
        background: #ff0000;
      }
      &__miss {
        background: gray;
      }
      &__ship__cheat {
        background: #48ff00;
      }
    }
  }
}